@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.content {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  max-height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 5px;
}

/* track */
// ::-webkit-scrollbar-track {
//   background: #e0e0e0;
// }

/* handle */
::-webkit-scrollbar-thumb {
  background: #888;
  transition: border 0.3s ease-in-out ;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

// clean this code--fixIt
/* Sidebar */
.sidebar-con{
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
}
.sidebar-btn{
  z-index: 220;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}


.sidebar{
  border: none!important;
  margin-right: 0.25rem;
  height: 100vh;
}

.sidebar-mune-item p{
    transition: color 0.3s ease;
}
.sidebar-header{
  background: transparent !important;
}
.sidebar-header-item{
  background: transparent !important;
}
.sidebar-header > ul{
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
  display: flex!important;
  flex-direction: row!important;
  background: transparent!important;
}
.sidebar-user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.sidebar > div{
  background-color: transparent!important;
}


// prevents overflow cuz of outline of cells after focus
.css-cgabbm-MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.css-cgabbm-MuiDataGrid-root .MuiDataGrid-cell:focus{
  outline: none!important;
}

.data-grid{
  max-width: 100%;
}


.test{
  border: 1px solid red!important;
}