@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
  padding-bottom: 500rem;
  /* border: 1px solid red; */
}

::-webkit-scrollbar {
  width: 10px;
}

/* track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: #888;
  transition: border 0.3s ease-in-out ;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

